{{define "title"}}Create Daily Habit{{end}}

{{define "content"}}
<section class="main-content">
    <h2 class="page-title">Create a New Daily Habit</h2>

    <!-- Habit Creation Form Container -->
    <div id="habit-form-container">
        {{template "habit_form" .}}
    </div>

    <div style="margin-top: 2rem;">
        <a href="/daily/entries" class="view-entries-button">View Daily Habits & Entries</a>
    </div>

</section>
{{end}}