{{define "title"}}Create Weekly Habit{{end}}

{{define "content"}}
<section class="main-content">
    <h2 class="page-title">Create a New Weekly Habit</h2>

    <!-- Habit Creation Form Container -->
    <div id="habit-form-container">
        {{template "habit_form" .}}
    </div>

    <div style="margin-top: 2rem;">
        <a href="/weekly/entries" class="view-entries-button">View Weekly Habits & Entries</a>
    </div>
    
</section>
{{end}}