<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}Habit Tracker{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body>
    <div id="overlay" class="overlay"></div>
    {{template "nav" .}}
    
    <main class="container">
        {{block "content" .}}{{end}}
    </main>

    <footer>
        &copy; {{.Year}} Habit Tracker App
    </footer>
    <script src="/static/js/main.js" defer></script> 
</body>
</html>
