{{define "nav"}}
<div id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <h1 class="app-title">Habit Tracker</h1>
        <button id="closeNav" class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>
    <div class="sidebar-links">
        <a href="/" class="sidebar-link">Home</a>
        <a href="/daily" class="sidebar-link">Daily</a>
        <a href="/weekly" class="sidebar-link">Weekly</a>
        <hr class="sidebar-divider"> {{/* Optional divider */}}
        <a href="/user/logout" class="sidebar-link">Logout</a> {{/* Logout Link */}}
    </div>
</div>

<header>
    <div class="container header-content">
        <button id="openNav" class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
        <h1 class="app-title">Habit Tracker</h1>
    </div>
</header>
{{end}}