{{define "progress_bar"}}
<div class="w-full bg-gray-200 rounded-full h-4 mb-6"
     {{if .Progress}}hx-get="/daily/progress" hx-trigger="every 5s"{{end}}>
    <div class="bg-indigo-500 h-4 rounded-full" style="width: {{.Progress}}%;"></div>
</div>
{{end}}