{{define "progress_bar"}}
<div class="progress-container"
     {{if .Progress}}hx-get="/daily/progress" hx-trigger="every 5s"{{end}}>
    <div class="progress-bar" style="width: {{.Progress}}%;"></div>
</div>
{{end}}